.statementContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.statement {
    border: 1px dotted rgb(146, 95, 95);
    color: rgb(146, 95, 95);
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    padding: 0.5em;
    margin: 0.5em;
}