.statementContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.statement {
    border: 1px dotted rgb(6, 82, 50);
    color: rgb(6, 82, 50);
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    padding: 0.5em;
    margin: 0.5em;
}